.App {
  text-align: center;
  width: 50%;
  height: 600px;
  margin: auto;
  padding: 10px;
  margin-top: 100px;
  margin-left: 33%;
  background-image: url("https://thumbs.dreamstime.com/b/shopping-paper-bag-different-groceries-light-blue-background-flat-lay-155562563.jpg");
  background-size: 500px;
  background-repeat: no-repeat;
  background-position-x: inherit;
}


.groceryItems{
  margin-top: 30px;
  background-color: black;
  color: white;
  line-height: 20px;

}
.displayItems{
  display: flex;
  text-align: center;
  margin-left: 100px;
  padding: 10px;
}
